.container {
    display: grid;
    grid-template-columns: auto auto auto;

}

#container1 {
    background: red;
}

#container2 {
    background: blueviolet;
}

#container3 {
    background: green;
}

#container4 {
    background: yellow;
}

#container5 {
    background: brown;
}

#container6 {
    background: grey;
}